// Анимации
@keyframes leftToRight {
  0% {
    transform: translateX(-15rem);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes rightToLeft {
  0% {
    transform: translateX(15rem);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes bottomToUp {
  0% {
    opacity: 0;
    transform: translateY(6rem);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
